# Tailscale Config
TS_OAUTH_CLIENT_ID=your-client-id
TS_OAUTH_CLIENT_SECRET=your-client-secret

# Misc Config
PUID=1000
PGID=1000
TZ=Europe/Rome

# Folders Config - Data folder structure should be DATA_DIR/MEDIA_FOLDER and DATA_DIR/TORRENTS_FOLDER
CONFIG_DIR=/path/to/config/dir
DATA_DIR=/path/to/data/dir
MEDIA_FOLDER=media_folder
TORRENTS_FOLDER=torrents_folder

# VPN Config
VPN_SERVICE_PROVIDER=your-vpn-provider
VPN_TYPE=your-vpn-type

VPN_USERNAME=your-vpn-username
VPN_PASSWORD=your-vpn-password
WIREGUARD_PRIVATE_KEY=wireguard-private-key
WIREGUARD_ADDRESSES=wireguard-addresses
SERVER_COUNTRIES=your-vpn-countries